* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: lightsteelblue;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100%;
    line-height: 1.3;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    border: 3px solid steelblue;
    box-shadow: 1px 1px 12px 12px gray;
    background-color: white;
}

header {
    display: flex;
    align-items: center;
    border-bottom: 3px solid steelblue;
    background-image: linear-gradient(to right, white, steelblue);
}

header h2 {
    font-size: 300%;
    font-style: italic;
    color: steelblue;
    text-shadow: 2px 2px 15px gray;
}

a:link,
a:visited {
    color: steelblue;
}

a:hover,
a:active {
    color: maroon;
}

aside a {
    font-weight: bold;
}

aside a:visited {
    color: maroon;
}

/*************************************
**************Nav Menu****************
*************************************/

#nav_menu {
    border-bottom: 3px solid steelblue;
    background-color: steelblue;
}

#nav_menu ul {
    list-style-type: none;
    position: relative;
    display: flex;
}

#nav_menu li {
    width: 20%;
}

#nav_menu a {
    display: block;
    color: white;
    background-color: steelblue;
    text-align: center;
    padding: .7em 0;
    font-weight: bold;
    text-decoration: 0;
}

#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
}

#nav_menu ul ul li a{
    text-align: left;
    padding-left: .25em;
}

#nav_menu ul li:hover > ul {
    display: block;
}

#nav_menu a:hover {
    color: black;
    background-color: lightsteelblue;
}

/*************************************
**************Nav List****************
*************************************/

#nav_list h2 {
    margin: 25px 0;
    text-align: center;
}

#nav_list ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

#nav_list li {
    width: 90%;
    border: 1px solid steelblue;
    border-radius: 5px;
}

#nav_list a {
    display: block;
    font-weight: bold;
    text-decoration: none;
    background-color: lightsteelblue;
    border-radius: 5px;
    padding: .5em;
    color: black;
}

#nav_list a:hover {
    background-color: steelblue;
    color: white;
}

main {
    display: flex;
}

section {
    max-width: 70%;
}

aside {
    width: 30%;
}

h1 {
    margin-left: 3%;
}

section p {
    margin: 0 3% 20px;
}

blockquote {
    margin: 0 8% 20px;
    border-left: 8px solid steelblue;
    background-color: rgb(194, 215, 241);
    padding: 7px;
    border-radius: 0 8px 8px 0;
}

h4 {
    font-weight: normal;
}

section h2, section h4{
    margin: 0 3% 20px;
}

/* aside h2 {
    
    text-align: center;
}

aside ul {
    margin-left: 8%;
    padding-left: 5%;
    line-height: 1.5;
} */

footer {
    background-color: steelblue;
    color: white;
    display: flex;
    justify-content: center;
}

footer p {
    padding: 20px 0;
    font-variant: small-caps;
}