* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {  
    background-color: lightsteelblue;
}

body { 
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100%;
    line-height: 1.3;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    border: 3px solid steelblue;
    box-shadow: 1px 1px 12px 12px gray;
    background-color: white;
}

header {
    display: flex;
    align-items: center;
    border-bottom: 3px solid steelblue;
    background-image: linear-gradient(to right, white, steelblue);
}

header h2 {
    font-size:300%;
    font-style: italic;
    color: steelblue;
    text-shadow: 2px 2px 15px gray;
}

a:link, a:visited {
    color: steelblue;
}

a:hover, a:active {
    color: maroon;
}

aside a {
    font-weight: bold;
}

aside a:visited {
    color: maroon;
}

main {
    display: flex;
}

section {
    max-width: 75%;
}

aside {
    max-width: 25%;
}

h1 {
    margin-left: 3%;
}

section p {
    margin: 0 3% 20px;
}

blockquote {
    margin: 0 8% 20px;
    border-left: 8px solid steelblue;
    background-color: rgb(194, 215, 241);
    padding: 7px;
}

h4 {
    font-weight: normal;
}

section h2 , section h4, aside h2{
    margin: 0 3% 20px;
}

aside h2 {
    margin-top: 20px;
}

aside ul {
    margin-left: 8%;
    padding-left: 5%;
    line-height: 1.5;
}

footer {
    background-color: steelblue;
    color: white;
    display: flex;
    justify-content: center;
}

footer p {
    padding: 20px 0;
    font-variant: small-caps;
}